<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lista de Empresas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link href="../../../resources/fontawesome/css/all.css" rel="stylesheet"/>
    <link href="../../../resources/static/css/myStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h1 class="centralizar">Empresas</h1>
        <div>
            <div class="centralizar">
                <a class="btn btn-primary btn-custom"
                   href="">
                <i class="fa fa-plus btn-icon"></i></a>
            </div>
        </div>
        <input type="text" class="form-control" id="dados-filter" data-action="filter" data-filters="#dados" placeholder="Digite aqui para filtrar os registros" autofocus />
        <table id="dados" class="table table-striped table-bordered display">
            <thead>
            <tr>
                <th>Nome Fantasia</th>
                <th>Razão Social</th>
                <th>Editar</th>
                <th>Deletar</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="empresa : ${empresas}">
                    <tr id="row_${empresa.id}">
                        <td> <span th:text="${empresa.nomeFantasia}"></span> </td>
                        <td> <span th:text="${empresa.razaoSocial}"></span> </td>
                        <td>
                            <div class="centralizar">
                                <a class="edit btn btn-primary " title="Editar"
                                   href=""/>
                                <i class="fas fa-pencil-alt"></i></a>
                            </div>
                        </td>
                        <td>
                            <div class="centralizar">
                                <a class="remove btn btn-danger " title="Remover"
                                   href="javascript:remover(${empresa.id})">
                                    <i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>